"router" module
"stdlib.normalize.payload-data" import
"stdlib.normalize.normalize-item-titles" import
"stdlib.normalize.store-normalized-source" import
"stdlib.normalize.store-normalized-summary" import

[
  "buttons-workflow"
  "router"
  "continue"
  use-workflow-spec
] "decide" define
