"common" module
"stdlib.normalize.tool-content-yaml" import
"stdlib.normalize.normalize-item-titles" "stdlib-normalize-item-titles" import
"stdlib.normalize.store-normalized-source" "stdlib-store-normalized-source" import
"stdlib.normalize.store-normalized-enabled" "stdlib-store-normalized-enabled" import
"stdlib.normalize.store-normalized-summary" "stdlib-store-normalized-summary" import

[ tool-content-yaml ] "payload-data" define
[ stdlib-normalize-item-titles ] "normalize-item-titles" define
[ stdlib-store-normalized-source ] "store-normalized-source" define
[ stdlib-store-normalized-enabled ] "store-normalized-enabled" define
[ stdlib-store-normalized-summary ] "store-normalized-summary" define

"payload-data" export
"normalize-item-titles" export
"store-normalized-source" export
"store-normalized-enabled" export
"store-normalized-summary" export
