"common" module

[ "{path: macro_payload.yaml}" yaml> ] "macro-payload-request" define
[
  "message" dict-get? dup none?
  [ drop "missing message" ]
  [ ]
  if
] "payload-message" define

"macro-payload-request" export
"payload-message" export
